/**General**/

#main{
    -fx-padding:20px;
    -fx-background-color: #393276;
}

.up1{
    -fx-effect: dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2);/*dropshadow(gaussian, rgba(0,0,0,0.26), 10, 0.12, -1, 2)*/
}

#topPanel{
    -fx-padding:5px;
}

#title {
    -fx-padding: 15px;
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
}

#playerDesc.white{
    -fx-background-color: #837EB1;
    -fx-text-fill: #0D083B;
}

#playerDesc.black{
    -fx-background-color: #0D083B;
    -fx-text-fill: #837EB1;
}

#playerDesc{
    -fx-font-size: 20px;
    -fx-font-family: "Arial";
    -fx-padding:10px;
}

/**Panels**/

.panelCont1{
    -fx-padding: 0 10px 0 0;
}

.panelCont2{
    -fx-padding: 0 0 0 10px;
}

.panels{
    -fx-padding: 10px;
    -fx-background-color: #1F1959;
    -fx-border-style: solid;
    -fx-border-width: 2px;
}

/**Board**/

.selected{
    -fx-border-style: solid;
    -fx-border-width: 3px;
    -fx-border-color: #a8a52e !important;
    -fx-padding: 0px !important;
}

.square{
    -fx-border-style: solid;
    -fx-padding: 3px;
    -fx-min-width: 46px;
    -fx-min-height: 46px;
}

.square:hover{
    -fx-border-color: #3b3b3b;
}

#board{
    -fx-border-style: solid;
}

/**Overlay**/

.overlayBackground {
    -fx-background-color: radial-gradient(/*center 20 20, */ radius 100%, darkgray, black);
    -fx-pref-width: 100%;
    -fx-pref-height: 100%;
    -fx-opacity: 30%;
}

.waitingBox{
    -fx-max-width: 300px;
    -fx-max-height: 70px;
    -fx-background-color: black;
    -fx-fill-width: false;
}

.waitingBox > * {
    -fx-text-fill: white;
}